body {
	font-family: "Economica", sans-serif;
  	margin: 0;
  	background-color: #ecf3f9;
}

h1 {
	font-weight: bold;
	color: #f1894c;
}

h2 {
	color: #619cd6;
}

h3 {
	color: #2d3e52;
    font-weight: bolder;
}

hr {
	border-top: 2px solid #f1894c;
	margin: 15px 0;
}

.profile-img {
	margin-top: 20px;
}

.project-img {
	width: 50%;
}